######################################################################
### IDEA ###
.idea
## build ##
go-mysql-transfe*
######################################################################
# Others
*.log
*.swp


